<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing component</title>
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon-32x32.png'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/pricing-cards.css">
</head>

<body>
    <main class="container">
        <div class="main-content">
            <h1 class="title">Our Pricing</h1>
            <div class="plans">
                <span>Annually</span><input id="mode" type="range" value=0 name="mode" min=0 max=1><span>Monthly</span>
            </div>
            <div class="card-container">
                <div id="annually">
                    <div class="card basic">
                        <h3>Basic</h3>
                        <p class="pricing">&dollar;199.99</p>
                        <div class="features">
                            <p>500 GB Storage</p>
                            <p>2 Users Allowed</p>
                            <p>Send up to 3 GB</p>
                        </div>
                        <a href="">Learn more</a>
                    </div>
                    <div class="card professional card-active">
                        <h3>Professional</h3>
                        <p class="pricing">&dollar;249.99</p>
                        <div class="features">
                            <p>1 TB Storage</p>
                            <p>5 Users Allowed</p>
                            <p>Send up to 10 GB</p>
                        </div>
                        <a href="">Learn more</a>
                    </div>
                    <div class="card master">
                        <h3>Master</h3>
                        <p class="pricing">&dollar;399.99</p>
                        <div class="features">
                            <p>2 TB Storage</p>
                            <p>10 Users Allowed</p>
                            <p>Send up to 20 GB</p>
                        </div>
                        <a href="">Learn more</a>
                    </div>
                </div>
                <div id="monthly">
                    <div class="card basic">
                        <h3>Basic</h3>
                        <p class="pricing">&dollar;19.99</p>
                        <div class="features">
                            <p>500 GB Storage</p>
                            <p>2 Users Allowed</p>
                            <p>Send up to 3 GB</p>
                        </div>
                        <a href="">Learn more</a>
                    </div>
                    <div class="card professional card-active">
                        <h3>Professional</h3>
                        <p class="pricing">&dollar;24.99</p>
                        <div class="features">
                            <p>1 TB Storage</p>
                            <p>5 Users Allowed</p>
                            <p>Send up to 10 GB</p>
                        </div>
                        <a href="">Learn More</a>
                    </div>
                    <div class="card master">
                        <h3>Master</h3>
                        <p class="pricing">&dollar;39.99</p>
                        <div class="features">
                            <p>2 TB Storage</p>
                            <p>10 Users Allowed</p>
                            <p>Send up to 20 GB</p>
                        </div>
                        <a href="">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/pricing-cards.js"></script>
</body>

</html>