<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro component with sign up form</title>
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon-32x32.png'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/signup-form.css">
</head>

<body>
    <main class="container">
        <div class="background">
            <div class="flex-container">
                <div class="flex-item text-content">
                    <h1>Learn to code by watching others</h1>
                    <p>See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but understanding how developers think is invaluable.</p>
                </div>
                <div class="flex-item form-content">
                    <p class="form-title"><b>Try it free 7 days</b> then $20/mo. thereafter</p>
                    <form action="" class="form">
                        <input type="text" name="first_name" placeholder="First Name" required>
                        <input type="text" name="last_name" placeholder="Last Name" required>
                        <input type="email" name="email" placeholder="Email Address" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" class="submit">Claim your free trial</button>
                        <small>By clicking the button, you are agreeing to our <b class="text-red">Terms and Services</b></small>
                    </form>
                </div>
            </div>
        </div>

    </main>
</body>

</html>