@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
    --primary-color-red: hsl(0, 100%, 74%);
    --primary-color-green: hsl(154, 59%, 51%);
    --accent-color-blue: hsl(248, 32%, 49%);
    --neutral-color-grayishblue: hsl(246, 25%, 77%);
    --neutral-color-darkblue: hsl(249, 25%, 77%);
}
@media (max-width: 1920px) and (min-width: 501px) {
        body {
        width: 100vw;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        padding: 60px 100px;
    }

    .container {
        background-color: var(--primary-color-red);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background{
        background-image: url('/images/signup-form/bg-intro-desktop.png');
    }


    .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 160px;
    }

    .text-content{
        width: 30%;
        margin: 60px;
        color: white;
    }

    .form-content{
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .form-title{
        background: var(--accent-color-blue);
        color: white;
        padding: 15px 40px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 7px 0px rgba(0,0,0,0.3);
    }

    .form {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: 40px 0;
        border-radius: 8px;
        box-shadow: 0 7px 2px rgba(0,0,0,0.3);
    }

    .form input{
        padding: 18px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 2px solid var(--neutral-color-grayishblue);
    }

    .submit {
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: none;
        background: var(--primary-color-green);
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 7px 0px rgba(76,180,141, 1);
    }

    .form:last-child {
        text-align: center;
    }

    .form:last-child .text-red {
        color: var(--primary-color-red);
    }
}

@media (max-width: 500px) {
    body {
        width: 100vw;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    .container {
        background-color: var(--primary-color-red);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background{
        background-image: url('/images/signup-form/bg-intro-mobile.png');
    }


    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-content{
        text-align: center;
        color: white;
        margin: 80px 10px;
    }

    .form-content{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .form-title{
        background: var(--accent-color-blue);
        color: white;
        padding: 15px 60px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 7px 0px rgba(0,0,0,0.3);
    }

    .form {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 40px 0;
        border-radius: 8px;
        box-shadow: 0 7px 2px rgba(0,0,0,0.3);
    }

    .form input{
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 2px solid var(--neutral-color-grayishblue);
    }

    .submit {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: none;
        background: var(--primary-color-green);
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 7px 0px rgba(76,180,141, 1);
    }

    .form:last-child {
        text-align: center;
    }

    .form:last-child .text-red {
        color: var(--primary-color-red);
    }

}