@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    text-align: center;
}

.header {
    margin: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-item{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    border-top: 2px solid red;
    margin: 20px;
    text-decoration: none;
}

.four-cards {
    background: url('/images/link-images/desktop-design.jpg') center center no-repeat;
    background-size: cover;
}

.signup-form {
    background: url('/images/link-images/desktop-design copy.jpg') center center no-repeat;
    background-size: cover;
}

.pricing-cards {
    background: url('/images/link-images/active-states.jpg') center center no-repeat;
    background-size: cover;
}

.four-cards-with-flex {
    background: url('/images/link-images/desktop-design.jpg') center center no-repeat;
    background-size: cover;
}

.overlay-card1, .overlay-card2, .overlay-card3, .overlay-card4 {
    display: none;
    background: rgba(247,120,118, 0.9);
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    border-top: 2px solid red;
    height: inherit;
}

.card-title {
    font-size: 40px;
    color: white;
}

.four-cards:hover .overlay-card1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form:hover .overlay-card2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-cards:hover .overlay-card3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-cards-with-flex:hover .overlay-card4 {
    display: flex;
    justify-content: center;
    align-items: center;
}